*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  justify-content: center;
  padding: .8rem;
  background-color: lightblue;
}

.todo-list{
  list-style: none;
  width: 400px;
  margin:  1rem auto ;
}

.todo{
  padding: 1rem;
  margin-block: .5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

.delete-todo{
  background-color: rgb(206, 48, 48);
  border: none;
  font-size: .9rem;
  padding: .5em;
  color: whitesmoke;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}